<ng-container>
  <div class="container-fluid">
    <div class="d-flex">
      <div class="w-50 p-5">
        <div class="h3">Filters</div>
        <form [formGroup]="myForm" novalidate>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">E-mail</span>
            </div>
            <input type="text" formControlName="email" class="form-control">
          </div>
        </form>
      </div>
      <table class="w-50 table table-striped m-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | async; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
